<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd >
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.latrokles.yak</string>
    <key>Program</key>
    <string>YAKPATHNAME/scripts/macos/launchers/fswatch/fswatch.sh</string>
    <key>KeepAlive</key>
    <true/>
  </dict>
</plist>
